.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    top: 0;
}

.img-logo {
    height: 100px;
    width: 100px;
}

.nav-list {
    list-style-type: none;
  }
  
  .nav-list li {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
  }

  .body {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    border: none;
    background-color: #fff;
    height: 55px;
  }

  .footer span {
    margin: 20px;
    cursor: pointer;
  }

  .card-cont {
    display: flex;
    flex-wrap: wrap;
    min-height: 1100px;
    justify-content: space-around;
  }

  .rest-card-cont {
    padding: 15px;;
  }

  .rest-card-cont {
    width: 350px;
    height: 450px;
  }
  
  .rest-search {
    padding: 30px 15px 10px 15px;
  }

  .rest-search-field {
    height: 35px;
    width: 98%;
    padding-left: 45px;
    border: none;
    border-bottom: 1px solid #dedede;
    outline: none;
  }

  .rest-search-field:hover, .rest-search-field:focus {
    border: none;
    border-bottom: 1px solid #dedede;
  }

  .rest-search-icon {
    position: absolute;
    margin: 13px;
  }

  .rest-search-field::placeholder {
    padding-left: 40px;
  }